/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#er {
    color: #f21515;
    background-color: #fff0f0;
    font-weight: bold;
    border: 3px solid #f21515;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 15px auto;
}

#success {
    color: #23a238;
    background-color: azure;
    font-weight: bold;
    border: 3px solid #23a238;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 15px auto;
}

.redmodal {
    margin-top: 100px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px #00000057;
    width: 500px;
    max-width: 90%;
    transition: 200ms ease-in-out;
    overflow: auto;
    max-height: 90%;
}

form#leadGeneration {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.redmodal-header {
    right: 10px;
    top: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5002;
}

.redmodal-title {
    font-size: 1.2rem;
}

button.close-button {
    transition: 0.35s ease;
    line-height: 22px;
    padding: 0px 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 27px;
    color: #b0b0b0;
    border-radius: 1000px;
}

button.close-button:hover {
    color: red;
}

.redmodal-body {
    display: flex;
    padding: 31px 30px 10px 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

img.center-image {
    max-height: 35vh;
    max-width: 90%;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000c7;
    pointer-events: none;
    opacity: 0;
    transition: 200ms ease-in-out;
    z-index: 4000;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

p#description {
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 10px;
}

input#email {
    width: 100%;
    height: 46px;
    border: 2px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
    padding-left: 12px;
    transition: 0.5s ease;
}

input#email:focus {
    outline: none;
    border: 2px solid #7e7e7e;
}

input.red-pop {
    width: 100%;
    margin-top: 10px;
    height: 45px;
    color: white;
    background-color: #2e2e2e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

input.red-pop:hover {
    background-color: #000000;
}

p.close {
    cursor: pointer;
    color: #717171;
    font-size: 1rem;
    margin: 7px 0px 0px 0px;
}

.form-hidden {
    display: none;
}
